@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#courseArticleName{
    -fx-text-fill: rgba(0, 0, 0, 0.75);
    -fx-font-size: 14px;
}

.buttonTime{
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-alignment: center;
    -fx-border-color: #858383;
}

.buttonTimeClicked{
    -fx-background-color: #858383;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-alignment: center;
    -fx-border-color: #858383;
}

.addAndRemoveButtonNormal{
    -fx-background-radius: 10;
    -fx-font-size: 14px;
    -fx-border-radius: 10;
    -fx-spacing: 2px;
    -fx-text-alignment: center;
    -fx-background-color: #add8e6;
    -fx-border-color: #72bcd4;
}

.addAndRemhoverButtonHover{
    -fx-background-radius: 10;
    -fx-font-size: 14px;
    -fx-spacing: 2px;
    -fx-border-radius: 10;
    -fx-text-alignment: center;
    -fx-background-color: #72bcd4;
    -fx-border-color: #72bcd4;
}

.artikelButtons{

}

.menuButton{
    -fx-alignment: center;
    -fx-font-size: 30px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-family: 'Anton', sans-serif;
    -fx-background-color: #3f6cc9;
    -fx-border-color: #3f6cc9;
}
.searchMenuElements{
    -fx-alignment: center;
    -fx-font-size: 15px;
    -fx-background-radius: 15;
    -fx-background-color: #82a4ee;
    -fx-border-color: #061a44;
    -fx-border-radius: 15;
}
.searchListElements{
    -fx-alignment: center;
    -fx-font-size: 15px;
    -fx-background-radius: 15;
    -fx-background-color: #82a4ee;
    -fx-border-color: #061a44;
    -fx-border-radius: 15;
}

.moneyButton{
    -fx-alignment: center;
    -fx-font-size: 25px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-family: 'Anton', sans-serif;
    -fx-background-color: #3f6cc9;
}

.buyButton{
    -fx-alignment: center;
    -fx-font-size: 15px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-family: 'Anton', sans-serif;
    -fx-background-color: #90ee90;
    -fx-border-color: #226b22;
    -fx-border-width: 1.75px;
}

.sellButton{
    -fx-alignment: center;
    -fx-font-size: 15px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-family: 'Anton', sans-serif;
    -fx-background-color: #ffb6c1;
    -fx-border-color: #b20222;
    -fx-border-width: 1.75px;
}

.sellAllButton{
    -fx-alignment: center;
    -fx-font-size: 14px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-family: 'Anton', sans-serif;
    -fx-background-color: #d3d3d3;
    -fx-border-color: #778899;
    -fx-border-width: 1.75px;
}

.walletArticle{
    -fx-font-size: 12px;
    -fx-font-family: 'Anton', sans-serif;
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 5px;
    -fx-border-color: #1f262e;
    -fx-border-width: 1px;
}

.cancelButton{
    -fx-alignment: center;
    -fx-font-size: 10px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-family: 'Anton', sans-serif;
    -fx-background-color: #ffb6c1;
    -fx-border-color: #b20222;
    -fx-border-width: 1.75px;
}

.confirmBuyButton{
   -fx-alignment: center;
   -fx-font-size: 10px;
   -fx-background-radius: 10px;
   -fx-border-radius: 10px;
   -fx-font-family: 'Anton', sans-serif;
   -fx-background-color: #90ee90;
   -fx-border-color: #226b22;
   -fx-border-width: 1.75px;
}









