@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#courseArticleName{
    -fx-text-fill: rgba(0, 0, 0, 0.75);
    -fx-font-size: 14px;
}

.buttonTime{
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-alignment: center;
    -fx-border-color: #858383;
}

.buttonTimeClicked{
    -fx-background-color: #858383;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-alignment: center;
    -fx-border-color: #858383;
}

.addAndRemoveButtonNormal{
    -fx-background-radius: 10;
    -fx-font-size: 14px;
    -fx-border-radius: 10;
    -fx-spacing: 2px;
    -fx-text-alignment: center;
    -fx-background-color: #add8e6;
    -fx-border-color: #72bcd4;
}

.addAndRemhoverButtonHover{
    -fx-background-radius: 10;
    -fx-font-size: 14px;
    -fx-spacing: 2px;
    -fx-border-radius: 10;
    -fx-text-alignment: center;
    -fx-background-color: #72bcd4;
    -fx-border-color: #72bcd4;
}

.artikelButtons{

}

.menuButton{
    -fx-alignment: center;
    -fx-font-size: 30px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-family: 'Anton', sans-serif;
    -fx-background-color: #3f6cc9;
    -fx-border-color: #3f6cc9;
}
.searchMenuElements{
    -fx-alignment: center;
    -fx-font-size: 15px;
    -fx-background-radius: 15;
    -fx-background-color: #82a4ee;
    -fx-border-color: #061a44;
    -fx-border-radius: 15;
}
.searchListElements{
    -fx-alignment: center;
    -fx-font-size: 15px;
    -fx-background-radius: 15;
    -fx-background-color: #82a4ee;
    -fx-border-color: #061a44;
    -fx-border-radius: 15;
}












